@use "sass:map";

// Mapas de temas
$themes: (
  light: (
    background: #ffffff,
    text: #222222
  ),
  dark: (
    background: #1c1c1c,
    text: #eaeaea
  )
);

// Función para obtener valores del mapa
@function theme($mode, $property) {
  @return map.get(map.get($themes, $mode), $property);
}
