// Importar parciales
@use 'variables';
@use 'mixins';
@use 'themes';
@use 'buttons';


// Estilos globales
body {
  font-family: variables.$font-stack;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.light {
    @include mixins.themed(light);
  }

  &.dark {
    @include mixins.themed(dark);
  }
}

// Estructura básica
header, footer {
  text-align: center;
  padding: variables.$spacing;
  background-color: variables.$primary-color;
  color: #fff;
}

main {
  padding: 2 * variables.$spacing;

  .content {
    text-align: center;
    margin-top: 2 * variables.$spacing;

    h2 {
      margin-bottom: variables.$spacing;
    }

    p {
      margin-bottom: 2 * variables.$spacing;
    }

  }
}

